.Livraison {
    position: fixed;
    top: 4rem;
    width: 100%;
    height: 100vh;
    background-color: rgb(253, 253, 253);
    z-index: 75;

    #row1 {
        margin-top: 5rem;

        h1 {
            font-size: 37px;
            font-family: 'Exo 2', sans-serif;

            #truck {

                color: $color2;
                font-size: 46px;
            }
        }

        .lig {
            width: 28rem;
            margin-left: 21rem;
            height: 5px;
            background-color: $color2;
            border-radius: 12px;
        }
    }

    #row2 {

        .form {
            margin-top: 3rem;

            .part1 {

                #name {
                    border: 0px solid;
                    border-radius: 12px;
                    // background-color: rgb(223, 225, 226);
                    box-shadow: 0 0 6px rgb(121, 120, 120);
                    height: 2.7rem;
                    padding-left: 0.3rem;
                    width: 9rem;
                }

                #adress {
                    border: 0px solid;
                    padding-left: 0.2rem;
                    border-radius: 12px;
                    // background-color: rgb(223, 225, 226);
                    box-shadow: 0 0 6px rgb(121, 120, 120);
                    height: 2.7rem;
                    margin-left: 2rem;
                }
            }

            .part2 {
                margin-top: 3rem;

                input {

                    border: 0px solid;
                    border-radius: 12px;
                    // background-color: rgb(223, 225, 226);
                    box-shadow: 0 0 6px rgb(121, 120, 120);
                    height: 2.7rem;
                    padding-left: 0.4rem;
                    width: 26.5rem;
                }

                .quantite {
                    width: 5rem;
                    margin-top: 3rem;
                    height: 2.7rem;
                    border: 0px solid;
                    border-radius: 12px;
                    margin-left: 22rem;
                    // background-color: rgb(223, 225, 226);
                    box-shadow: 0 0 6px rgb(121, 120, 120);

                    .number {
                        margin-left: 2rem;
                        font-size: 28px;
                        margin-top: 5rem;
                        position: absolute;
                        top: 22.4rem;
                    }

                    #up {
                        margin-left: 6rem;
                        padding: 3px;
                        background-color: rgb(223, 225, 226);
                        border-radius: 2px;
                    }

                    #down {
                        margin-left: 6rem;
                        padding: 3px;
                        background-color: rgb(223, 225, 226);
                        border-radius: 2px;
                    }
                }
            }

            .button{
                margin-top: 4rem;
                  
                    #effacer{
                        background-color: red;
                        width: 12rem;
                        height: 3rem;
                        color:#fff;
                        padding: 12px;
                    }

                    #envoyer{
                        background-color: $color2;
                        width: 12rem;
                        height: 3rem;
                        margin-left: 2.5rem;
                        color:#fff ;
                        padding: 12px;
                    }
            }
        }
    }

}

.Fermer_livraison{
   display: none;
}

.Ouvrir_livraison{
    display: block;
}