.Nouveautés {
    margin-top: 6rem;
    width: 100%;
    

    #col1 {


        .section-dot {
            position: relative;
            z-index: 1;

            &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background: #f8c407;
                right: 40%;
                top: 2px;
                border-radius: 100%;
                z-index: -1;

                @include screen(medium) {
                    right: 36%;
                }
            }

            &::after {
                position: absolute;
                content: "";
                height: 4px;
                width: 50px;
                background: #f8c407;
                top: 8px;
                left: 60.7%;
                border-radius: 30px;
                z-index: -1;

                @include screen(medium) {
                    left: 65.5%;
                }
            }
        }

        .subtitle {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background: #f8c407;
                left: 40%;
                top: 2px;
                border-radius: 100%;
                z-index: -1;

                @include screen(medium) {
                     left: 36%;
                }
            }

            &::after {
                position: absolute;
                content: "";
                height: 4px;
                width: 50px;
                background: #f8c407;
                top: 8px;
                left: 34%;
                border-radius: 30px;
                z-index: -1;

                @include screen(medium) {
                    left: 27%;
               }
            }

            h3 {
                font-size: 18px;
                color: #1a1a1a;
                margin-top: -0.2rem;
                font-weight: 500;
                text-transform: uppercase;


            }
        }

        .main-title {
            margin-top: 1rem;

            h3 {
                font-size: 32px;
                color: $color3;
            }

            p {
                width: 60%;
                margin-left: 20%;
                color: $color4;
            }
        }
    }

    #row2 {
        position: relative;
        top: 4rem;

        .Nouveautés_card {
            width: 100%;
            height: 30rem;
            padding: 20px;
            border: 0px solid;
            border-radius: 18px;
            box-shadow: 0 0 8px rgba(46, 44, 44, 0.315);

            .image {
                 
                 img{
                    width: 90%;
                    height: 14rem;
                    margin-left: 1.2rem;
                 }
            }

            .box-contents {
                margin-top: 2rem;

                    h1{
                       font-size: 29px;
                    }

                    p{
                        color: #3a3737;  
                        font-size: 23px;
                        color: $color2;
                        font-weight: bold;
                    }

                    button{
                        font-family: 'Exo 2', sans-serif;
                        color: #fff;
                        font-size: 18.7px;
                        padding: 7px;
                        padding-left: 1rem;
                        padding-right: 1rem;

                          &:hover{
                            background-color: aliceblue;
                            color: $color1;
                          }
                    }
            }

          
        }
    }
}