.panier_ {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    overflow: auto;
    top: 4.6rem;
    z-index: 55;

    #row {

        .title {
            position: relative;
            top: 3rem;

            h1 {
                color: $color2;
                font-weight: bold;
            }

            .lig {
                width: 19rem;
                height: 5px;
                background-color: $color2;
                border-radius: 12px;
            }

            .delete{
                position: relative;
                left: 78%;
                top: -1rem;
                width: 12rem;
                cursor: pointer;
                padding-left: 3rem;

                 @include screen(medium){
                    left: 64.5%;
                 }
                  
                  h1{
                    font-size: 19.5px;
                    padding-left: 3rem;
                    color: #fff;
                    padding: 12px;
                    border-radius: 12px;
                    background-color: red;

                      &:hover{
                        background-color: rgb(24, 23, 23);
                        color:$color2;
                      }
                  }
            }
        }
    }

    #row2{
        margin-top: -1rem;

          .products{
          position: relative;
          padding: 8px;
          border-radius: 12px;
          height: 4.7rem;

              img{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 14px;
                    object-fit: cover;
                 
              }

             
               
              h1{
                   font-weight: bold;
                   font-size: 27px;
                   margin-top: -3.7rem;
                   margin-left: 6rem;
                   color: rgba(0, 0, 0, 0.747);
              }

              .gadget{
                 position: relative;
                 right: 3rem;
                 top: -3.2rem;
              p{
                  color: rgba(0, 0, 0, 0.747);
                  font-weight: bold;
                  margin-top: 0.6rem;
                  font-size: 24px;
                  font-weight: bold;
              }

              button{
                  padding: 0px;
                  height: 45px;
                  padding-right: 1rem;
                  padding-left: 1rem;
                  color: aliceblue;
                  margin-top: 0.4rem;
                  font-size: 18px;
                  margin-left: 1.2rem;
              }
            }

            &::after{
                 content: "";
                 width: 100%;
                 height: 2px;
                 background-color: rgba(77, 75, 75, 0.473);
                 position: absolute;
                 top: 6.3rem;
            }
          }


    }
}

.open {
    height: 100vh;
    transition: 0.5s;
}

.close {
    height: 0;
    transition: 0.5s;
}

.vide{
      font-weight: bold;
      font-size: 32px;
      margin-top: 3rem;
      padding: 12px;
      border-radius: 12px;
}