.services {
    margin-top: 7rem;
    width: 100%;
    height: 40.7rem;
    background-color: #eeeeee;
    width: 100%;
    overflow: hidden;

    @include screen(medium) {
          margin-top: 9.5rem;
          height: 65rem;
    }

    @include screen(small){
        height: 60rem;
    }
    


    .row {
        position: relative;
        top: 8rem;
    }

    .about-thumb {

        h3 {
            writing-mode: tb;
            font-size: 16px;
            font-weight: 900;
        }
    }

    .about-image {
        margin-left: 50px;
        position: relative;
        z-index: 5;
        top: -9rem;

        img {
            width: 88%;
            height: 23rem;
            object-fit: cover;

            @include screen(small){
                height: 18rem;
            }

            @include screen(medium){
                height: 21rem;
            }
        }
    }

    .about-bounce {
        position: relative;
        top: -22rem;
        left: -4rem;

        img {
            width: 16rem;
            height: 15rem;
            animation: bounce 3.5s infinite;

            @include screen(small){
                height: 16rem;
            }
        }

        @include bounce;
    }

    .services-title {

        @include screen(medium) {
             position: relative;
             top: -14rem;
      }


      @include screen(small) {
        position: relative;
        top: -18rem;
 }

        .subtitles {
            position: relative;
            
            &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background: #f8c407;
                left: 28.8%;
                top: 7px;
                border-radius: 100%;
                z-index: 5;

                @include screen(medium) {
                    left: 23.8%;
                }

                @include screen(small){
                    left: 37.8%;
                }
            }

            &::after {
                position: absolute;
                content: "";
                height: 4px;
                width: 50px;
                background: #f8c407;
                top: 12px;
                left: 34.2%;
                border-radius: 30px;
                z-index: 5;

                @include screen(medium) {
                    left: 27.4%;
                }

                @include screen(small){
                    left: 43.8%;
                }
            }

            

            h4 {
                margin-top: -0.2rem;
                font-weight: 500;
            }
        }

        .maintitles {
             h2{
                color: $color3;
                font-size: 38px;
                font-weight: bold;

                @include screen(small){
                    font-size: 28px;
                }
             }
        }

        .desc {

            p{
                color:$color4;
            }
        }

        .serv{

             button{
                  padding: 7px;
                  color: #fff;
                  font-size: 19.4px;
                  padding-left: 1rem;
                  padding-right: 1rem;
                  font-family: 'Exo 2', sans-serif;

                  &:hover{
                    background-color: aliceblue;
                    color: $color1;
                  }
             }
        }
    }
}